body
 {
     background-image:url('http://www.carmelaicecream.com/Lavender-Honeyx814.jpg');
     background-repeat: no-repeat;
     background-size: auto 100%;
     background-position: center;
     background-color: #B5B5B5;
  
 }
 
 #header
 {
     margin: 0px;
     padding: 0px 0px 0px 0px;
     width: 100%;
 }
 #logo
 {
     text-align: center;
     margin: 0px;
 }
 nav 
 {
 
 text-align: center;
 padding: 10px 0;
 margin: 20px 0px 0px;
 
 }
 
 nav ul
 {
   list-style: none;  
   padding:  10px 0;
   margin: 0px 0 0;
   margin-top: 70px;
   
 }
 
 nav li
 {
     display: inline-block;
 }
 
 nav a
 {
     font-weight: 800;
     padding: 15px 10px;
     text-decoration: none;
     margin: 60px;
 
 }
 
 nav a, nav a:visited{
     color: #B5B5B5;
     text-decoration: none;
 }
 
 nav a.selected, nav a:hover{
     color: black ; 
     text-decoration: none;
 }
 
 *, *:after, *:before {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
 }
 * {margin:0;padding:0;border:0 none;position: relative; outline: none;
 
 }
 
 
 li > a, > a {
   text-decoration: none;
   z-index: 1;
 }
 
 li > a:before {
   content: "";
   position: absolute;
   width: 100%;
   height: 1px;
   left: 0px;
   bottom: 0;
   
 
   visibility: hidden;
   border-radius: 1px;
   transform: scaleX(0);
   transition: .25s linear;
 }
 li > a:hover:before,
 li > a:focus:before {
   visibility: visible;
   transform: scaleX(1);
 }
 .one a:before {
  box-shadow: 0 0 10px 2px #fff;
  box-shadow: 0 0 10px 2px #FDFFC2;
 ;  
 }
 
 .form
 {
     margin-left: 300px;
     position: absolute;
 }

#mycarousel
{
    width: 400px; 
    height: auto;
    margin-left: 250px;
    position: absolute;

}
#mycarousel2
{
 width: 400px;
 height: auto;
 margin-left: 715px;
}
#hours p {
	color: #fff;
	font: 12px "Open Sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


#hours {
	width: 26%;
	bottom: 200px;
	position: absolute;
	float: right;
	right: 200px;
}
.topmargin
{
    margin-top: 100px;       
}

.two
{
    text-align: center;
    color: #52A88F;
}

.three
{
    margin-left: 400px;
    position: absolute;
    color: #8A813D;
}
.four
{
    margin-left: 800px;
    color: #8A813D;
    
}
h1
{
    font-size: 2em;
}
.facebook, .google, .insta, .twitter img {
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -ms-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    transition: all 0.5s ease;
 
}

.facebook:hover, .google:hover, .insta:hover, .twitter:hover img {
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
     transform:scale(1.5);
}

.social-media-icon
{
    width: 32px;
    height: 32px;
    margin: 0 5px;
}
h6
{
    font-size: 2em;
}
.contactsocial
{
    margin-left: 800px;
}
.contactus h5
{
    font-size: 2em;
    margin-left: 300px;
}